/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

/* Form container */
.form-container {
  width: 100%;
  padding: 170px 0;
  background-color: #463e3e;
  text-align: center;
}

/* Heading */
.h1 {
  text-align: center;
  color: white;
}

/* Input field */
.input {
  width: 600px;
  display: block;
  margin: 50px auto 20px auto;
  padding: 15px;
  font-size: 16px;
  background: linear-gradient(to right, #463e3e, #000000, #463e3e);
  color: white;
  border: none;
  text-align: center;
}

/* Send button */
.button {
  padding: 10px 40px;
  font-size: 16px;
  background: linear-gradient(to right, #463e3e, #000000, #463e3e);
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover{
  background: linear-gradient(to right, #000000, #463e3e, #000000);
}


/* Response container */
.response-container {
  width: 600px;
  padding: 10px;
  background-color: transparent;
  background: linear-gradient(to right, #463e3e, #000000, #463e3e);
  margin: 20px auto;
}

/* Response text */
.p {
  margin: 20px auto;
  color: white;
  font-size: 20px;
  text-shadow: #655d5d 1px 0 10px;
}

/* Media queries */

/* Tablets and smaller screens */
@media (max-width: 768px) {
  .input {
    width: 80%;
  }
  
  .button {
    width: 60%;
    margin: 20px 0;
  }
  
  .p {
    width: 80%;
  }
}

/* iPhone 12 Pro and similar devices */
@media (max-width: 390px) {
  .input {
    width: 90%;
  }
  
  .button {
    width: 70%;
  }
  
  .p {
    width: 90%;
  }
}

/* Extra small screens */
@media (max-width: 320px) {
  .input {
    width: 95%;
  }
  
  .button {
    width: 80%;
  }
  
  .p {
    width: 95%;
  }
}
