* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.form-container {
  width: 100%;
  padding: 170px 0 320px 0;
  background-color: #463e3e;
  text-align: center;
}

.h1 {
  text-align: center;
  color: white;
}

.input {
  width: 600px;
  display: block;
  margin: 50px auto 20px auto;
  padding: 15px;
  font-size: 16px;
  background: linear-gradient(to right, #463e3e, #000000);
  color: white;
  border: none;
}

.button {
  padding: 10px 40px;
  font-size: 16px;
  background: linear-gradient(to right, #000000, #463e3e);
  color: white;
  border: none;
  cursor: pointer;
}

.response-container {
  padding: 10px;
  background-color: transparent;
}

.p {
  width: 600px;
  margin: 20px auto;
  color: white;
  font-size: 20px;
  text-shadow: #655d5d 1px 0 10px;
}